
/* Button */

.wpcf7 form.ectf7-material-button {


  input[type="submit"]{
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);



    background: $color-primary;
    color: mix(white, $color-primary, 70%);
    &:hover {
      filter: brightness(1.2);
      //background: darken($color-primary, 5%);
      //color: mix(white, $color-primary, 85%);
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }

  }
}