
/* CSS variables */
:root {
  // --focus-color: purple;
  --focus-color: rgba(233, 32, 134, 0.65);
}




.ectf7-focus-none {
  input:focus, textarea:focus {
    outline: none !important;
  } 
}




.ectf7-focus-focus-solid {
  input:focus, textarea:focus {
    outline: 2px solid var(--focus-color) !important;
    outline-offset: 0 !important;
  }
}
.ectf7-focus-focus-dotted {
  input:focus, textarea:focus {
    outline-offset: 2px !important;
    outline: 2px dotted var(--focus-color) !important;
  }
}


.ectf7-focus-rounded-focus {
  input:focus, textarea:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px var(--focus-color) !important;
  }
}

.ectf7-focus-colored-focus-alpha {
  input:focus, textarea:focus {
    outline: none !important;
    box-shadow: 
  		0 0 0 1px rgba(0, 0, 0, 0.2), 
  		2px 2px 7px var(--focus-color), 
  		-2px -2px 7px rgba(241, 103, 4, 0.75) !important;
  }
}

.ectf7-focus-colored-focus-beta {
  input:focus, textarea:focus {
    outline: none !important;
    box-shadow: 
  		0 0 0 1px rgba(0, 0, 0, 0.2), 
  		3px 3px 15px 2px var(--focus-color), 
  		-3px -3px 15px 1px rgba(241, 103, 4, 0.75) !important;
  }
}

.ectf7-focus-colored-focus-gamma {
  input:focus, textarea:focus {
    outline: none !important;
    box-shadow: 
  		0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.87), 3px 3px 18px 0px var(--focus-color), -3px -3px 20px 0px rgba(241, 103, 4, 0.75) !important;
  }
}


/* TODO */

.border-radius--grow {
  outline: none;
  box-shadow: 0 0 0 0 var(--focus-color);
  transition: box-shadow 0.25s ease-in;
}

.border-radius--grow:focus {
  box-shadow: 0 0 0 0.5rem var(--focus-color);
}

.border-radius--shrink {
  outline: none;
  box-shadow: 0 0 0 0.75rem transparent;
  transition: box-shadow 0.5s ease-out;
}

.border-radius--shrink:focus {
  box-shadow: 0 0 0 0.25rem var(--focus-color);
}

.border-radius--swell {
  outline: none;
  box-shadow: 0 0 0 0 var(--focus-color), 
              inset 0 0 0 0 var(--focus-color);
  transition: box-shadow 0.25s ease-out;
}

.border-radius--swell:focus {
  box-shadow: 0 0 0 0.25rem var(--focus-color), 
              inset 0 0 0 0.25rem var(--focus-color);
}

.border-radius--top-left {
  outline: none;
  box-shadow: -2rem -2em 0 0.5rem transparent;
  transition: box-shadow 0.33s ease-in;
}

.border-radius--top-left:focus {
  box-shadow: 0 0 0 0.25rem var(--focus-color);
}

.border-radius--top-right {
  outline: none;
  box-shadow: 2rem -2em 0 0.5rem transparent;
  transition: box-shadow 0.33s ease-in;
}

.border-radius--top-right:focus {
  box-shadow: 0 0 0 0.25rem var(--focus-color);
}

.border-radius--fill {
  outline: none;
  box-shadow: inset 0 0 0 0 var(--focus-color);
  transition: all 0.33s ease-in;
}

.border-radius--fill:focus {
  box-shadow: inset 0 0 0 3rem var(--focus-color);
  color: #fff;
}


.style1 {
  outline: thin dotted transparent;
  outline-offset: 1em;
  transition: 1.25s ease all;
  &:focus {
    outline-color: var(--focus-color);
    outline-offset: 0.125em;
  }
}

.style2 {
  outline: thin solid transparent;
  outline-offset: 1em;
  transition: 1.25s ease all;
  &:focus {
    outline: 3px solid var(--focus-color);
    outline-offset: 0; 
  }
}


.style3 {
  outline: 1em solid transparent;
  transition: 1.25s ease all;
  &:focus {
    outline: 3px solid var(--focus-color);
    outline-offset: 0;
  }
}







.ectf7-focus-none {
 input:focus, textarea:focus {

 } 
}