$input-background: #fff;

$color-primary: #FFD700;
$color-primary: #42a5f5;

$color-secondary: #39414d;

// material blue 2196F3


@import 'focus';


form.ewpcf7 {
  * {
    box-sizing: border-box;
  }
  input, textarea, select, button {
    box-sizing: border-box;
  }

  input[type=submit] {
    display: block;
  }

  &.invalid,
  &.unaccepted
  {
    .wpcf7-response-output{
      font-size: 16px;
      margin: 0;
      border-color: transparent;
    }
  }
}


.ectf7-default {
  label {
    width: 100%;
  }
}




form.ectf7-material1 {

  
  p {
    position: relative;
    margin: 0 0 24px 0;
  }
  
  .ewrap {
    position: relative;
    display: block;
    .elabel {
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: left top;
      transition: transform 600ms, color 400ms;
      z-index: 1;
      display: block;
      transform: translateY(16px) scale(1);
      
      font-size: 16px;
      line-height: 1.2;
      font: inherit;
    }
    input, textarea {    
      font-size: 16px;
      font: inherit;
    }
    
    &.is-filled {
      .elabel {
        transform: translateY(0) scale(0.75);
      }
    }
    &.is-focused {
      .elabel {
        //color: $color-primary;
      }
    }
  }
  
  .wpcf7-form-control:not([type=submit]) {
    border-radius: 0;
    border: none;
    font-size: 16px;
    line-height: 1.2;
    padding: 16px 0;
    margin: 8px 0 4px 0;
    display: block;
    
    
    background-color: transparent;
    background-image: linear-gradient(to bottom, $color-primary 0, $color-primary 100%), linear-gradient(to bottom, $color-primary 0, $color-primary 100%), linear-gradient(to bottom, $color-secondary 0, $color-secondary 100%);
    background-position: bottom left -100vw,bottom left -100vw,bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px,100% 2px,100% 2px;
    transition: background-position 0.4s cubic-bezier(1, 0.32, 0, 0.61);
    &:focus {
      background-position: bottom left 0,bottom left -100vw,bottom left !important;
    }
  }

  /*input[type="submit"]{
    border-radius: 0;
    border: none;
    background: #eee;
    font-size: 16px;
    padding: 8px 0;
    margin: 8px 0 0 0;
    
    background: $color-primary;
    width: 100%;
    display: block;
    
  }*/


  .wpcf7-not-valid-tip{
    font-size: 12px;
    padding: 4px 0 0 0;
  }
  .wpcf7-response-output{
    font-size: 16px;
    margin: 0;
  }


  

  .wpcf7-form-control.wpcf7-checkbox,
  .wpcf7-form-control.wpcf7-radio,
  .wpcf7-form-control.wpcf7-acceptance
  {
    background: transparent !important;
    border: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
    background-image: none !important;
  }
}





form.ectf7-material2 {

  
  p {
    position: relative;
    margin: 0 0 24px 0;
  }
  
  .ewrap {
    position: relative;
    display: block;
    .elabel {
      position: absolute;
      left: 16px;
      top: 0;
      transform-origin: left top;
      transition: transform 600ms, color 400ms;
      z-index: 1;
      display: block;
      transform: translateY(18px) scale(1);
      
      font-size: 16px;
      line-height: 1.2;
      font: inherit;
    }
    input, textarea {    
      font-size: 16px;
      font: inherit;
    }
    
    &.is-filled {
      .elabel {
        transform: translateY(9px) scale(0.75);
      }
    }
    &.is-focused {
      .elabel {
        color: $color-primary;
      }
    }
  }
  
  .wpcf7-form-control:not([type=submit]) {
    border: none;
    font-size: 16px;
    line-height: 1.2;

    padding: 22px 16px 13px 16px;
    margin: 8px 0 0 0;
    display: block;

    background-color: #F3F5F8;
    border-radius: 8px 8px 0px 0px;
    
    background-image: linear-gradient(to bottom, $color-primary 0, $color-primary 100%), linear-gradient(to bottom, $color-primary 0, $color-primary 100%), linear-gradient(to bottom, $color-secondary 0, $color-secondary 100%);
    background-position: bottom left -100vw,bottom left -100vw,bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px,100% 2px,100% 2px;
    transition: background-position 0.4s cubic-bezier(1, 0.32, 0, 0.61);
    &:focus {
      background-position: bottom left 0,bottom left -100vw,bottom left !important;
    }
  }



  .wpcf7-form-control:not([type=submit]).wpcf7-not-valid {

  }


  .wpcf7-not-valid-tip{
    font-size: 12px;
    padding: 4px 0 0 16px;
  }
  .wpcf7-response-output{
    font-size: 16px;
    margin: 0;
  }



  .wpcf7-form-control.wpcf7-checkbox,
  .wpcf7-form-control.wpcf7-radio,
  .wpcf7-form-control.wpcf7-acceptance
  {
    background: transparent !important;
    border: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
    background-image: none !important;
  }
}




.wpcf7 form.ectf7-material3 {  
  p {
    position: relative;
    margin: 0 0 24px 0;
  }
  
  .ewrap {
    position: relative;
    display: block;
    .elabel {
      position: absolute;
      left: 12px;
      top: 0;
      transform-origin: left top;
      transition: transform 600ms, color 600ms;
      z-index: 1;
      display: block;
      background: transparent;
      padding: 0 8px 0 4px;
      transform: translateY(16px) scale(1);
      
      font-size: 16px;
      line-height: 1.2;
      font: inherit;
    }
    input, textarea {    
      font-size: 16px;
      font: inherit;
    }
    
    &.is-filled {
      .elabel {
        transform: translateY(-4px) scale(0.75);
        background: #fff;
        line-height: 1;
      }
    }
    &.is-focused {
      .elabel {
        color: $color-primary;
      }
    }
  }
  
  .wpcf7-form-control:not([type=submit]) {
    border: none;
    font-size: 16px;
    line-height: 1.2;
    padding: 16px;
    margin: 8px 0 2px 0;
    display: block;

    border: 1px solid $color-primary;
    border-radius: 4px;
    background: transparent;
    
    
    // background-color: $input-background;
    // background-image: linear-gradient(to bottom, $color-primary 0, $color-primary 100%), linear-gradient(to bottom, $color-primary 0, $color-primary 100%), linear-gradient(to bottom, $color-secondary 0, $color-secondary 100%);
    // background-position: bottom left -100vw,bottom left -100vw,bottom left;
    // background-repeat: no-repeat;
    // background-size: 100% 2px,100% 2px,100% 2px;
    // transition: background-position 0.4s cubic-bezier(1, 0.32, 0, 0.61);
    // &:focus {
    //   background-position: bottom left 0,bottom left -100vw,bottom left !important;
    // }
  }





  .wpcf7-not-valid-tip{
    font-size: 12px;
    padding: 0 0 0 16px;
  }
  .wpcf7-response-output{
    font-size: 16px;
    margin: 0;
  }

  .wpcf7-form-control.wpcf7-checkbox,
  .wpcf7-form-control.wpcf7-radio,
  .wpcf7-form-control.wpcf7-acceptance
  {
    background: transparent !important;
    border: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
    background-image: none !important;
  }
}






.wpcf7 form.ectf7-custom-style1 {
  
  p {
    position: relative;
    margin: 0 0 24px 0;
  }

  .ewrap {
    position: relative;
    display: block;
    .elabel {
      position: absolute;
      display: block;
      background: #C9C9C9;
      font-size: 10px;
      line-height: 1;
      padding: 4px 6px;
      border-radius: 24px;
      z-index: 1;
      top: 0;
      left: 16px;
      transform: translateY(-50%);
      transition: color 600ms, background 600ms;
    }

    .wpcf7-form-control:not([type=submit]) {
      padding: 12px 16px 8px 16px;
      margin: 0 0 4px;
      transition: border 600ms;
      border-radius: 6px;
      font-size: 16px;
      line-height: 1.2;
      &:focus {
        border-color: $color-primary;
      }
    }

    &.is-focused {
      .elabel {
        background: $color-primary;
      }
    }
  }

  .wpcf7-form-control:not([type=submit]) {
    // style3
    //background: #E7F0FD;
  }

  .wpcf7-not-valid-tip{
    font-size: 12px;
    padding: 0 0 0 16px;
  }
}


.wpcf7 form.ectf7-custom-style2 {


  
  p {
    position: relative;
    margin: 0 0 24px 0;
  }

  .ewrap {
    position: relative;
    display: block;
    .elabel {
      position: absolute;
      display: block;
      background: #C9C9C9;
      font-size: 10px;
      line-height: 1;
      padding: 4px 6px;
      border-radius: 24px;
      z-index: 1;
      top: 16px;
      right: 16px;
      transition: color 600ms, background 600ms;
    }

    .wpcf7-form-control:not([type=submit]) {
      padding: 16px;
      margin: 0 0 4px;
      transition: border 600ms;
      border-radius: 42px;
      font-size: 16px;
      line-height: 1.2;
      &:focus {
        border-color: $color-primary;
      }
    }

    &.is-focused {
      .elabel {
        background: $color-primary;
      }
    }
  }

  .wpcf7-not-valid-tip{
    font-size: 12px;
    padding: 0 0 0 16px;
  }
}



/* Textarea Responsive Height */

.wpcf7 form.ectf7-textarea-resize-none textarea {
  resize: none;
}




@import 'buttons';



/* Form Notification Message */

.wpcf7 form.ectf7-hide-form-response {
  .wpcf7-not-valid-tip{
    display: none !important;
  } 
}

.wpcf7 form.ectf7-hide-error-message {
  .wpcf7-response-output{
    display: none !important;
  }
}